
//flex-grid
$theme-flex-grid-background:#fff;
$theme-flex-grid-font-color:initial;
$theme-flex-grid-border:#dfdfdf;


//flex-table
$theme-flex-table-background:#fff;
$theme-flex-table-font-color:initial;
$theme-flex-table-border:#dfdfdf;


//grid-pagination
$theme-grid-pagination-background:#fff;
$theme-grid-pagination-font-color:#787878;
$theme-grid-pagination-text-shadow:0 0 0 #787878;
$theme-grid-pagination-border:1px solid #dadada;
$theme-grid-pagination-background-hover:#8ebc00;
$theme-grid-pagination-font-color-hover:#fff;
$theme-grid-pagination-text-shadow-hover:0 0 0 #fff;
$theme-grid-pagination-border-hover:1px solid #8ebc00;
$theme-grid-pagination-icon-color:#bbb;
$theme-grid-pagination-icon-color-hover:#8ebc00;

$grid-column-gutter: 30px;