
@import "flex-grid";


/// @access private
@mixin _flex-table-breakpoint($breakpoint,$len,$tag,$font,$color){
  @include media-breakpoint($breakpoint){
    section {
      #{$tag} {
        @for $i from 1 through $len{
          &:nth-of-type(#{$len}n + #{$i}){
            &:before{
              content: attr(data-header);
              @if $font !=null{
                font-family:$font;
              }
              @if $color !=null{
                color:$color;
              }
            }
          }
        }
      }
    }
  }
}

/// @access private
@mixin _flex-table-touch-headers($breakpoint,$len,$tag,$font,$color){
  &[breakpoint="1024"]{
    @include _flex-table-breakpoint(1024px,$len,$tag,$font,$color);
  }
  &[breakpoint="900"]{
    @include _flex-table-breakpoint(900px,$len,$tag,$font,$color);
  }
  &[breakpoint="768"]{
    @include _flex-table-breakpoint(768px,$len,$tag,$font,$color);
  }
  &[breakpoint="640"]{
    @include _flex-table-breakpoint(600px,$len,$tag,$font,$color);
  }
}



/// @access public
/// @param {String} $component
/// @param {List} $tags
/// @param {String} $class
/// @param {List} $headers
/// @param {Map} $map
///  $map:(
///   font-size:<value>,
///   border-radius:<value>,
///   columns:<value>,
///   justification:<value>,
///   alignment:<value>,
///   header:(
///       background:<value>,
///       color:<value>,
///       font:<value>,
///       bold:<value>,
///       icon-font:<value>,
///       icon-up:<value>,
///       icon-down:<value>
///   ),
///   cell:(
///        background:<value>,
///        justification:<value>,
///        alignment:<value>,
///        padding:<value>,
///        height:<value>,
///        show-borders:<value>,
///        background:<value>
///        background-alt:<value>
///   ),
///   footer:(
///        background:<value>
///   ),
///   touch:(
///        breakpoint:<value>,
///        cell-padding:<value>,
///        cell-padding-bottom:<value>,
///        cell-margin-top:<value>,
///        cell-border-bottom:<value>,
///        font-size:<value>,
///        border-radius:<value>,
///        header-left:<value>,
///        header-font:<value>,
///        header-font-color:<value>
///   )
/// )
@mixin flex-table($component:css-flex-table,$tags:null,$class:null,$map:()){

  $_white:#fff;
  $_icon-font-family:content;

  $_columns:map-get-default($map,columns,4);
  $touch-breakpoint:map-get-default($map,breakpoint,750px);

  $font-size:map-get-default($map,font-size,1em);
  $border-radius:map-get-default($map,border-radius,0);

  $header-background:map-nested-get-default($map,header,background,$_white);
  $header-color:map-nested-get($map,header,color);
  $header-font:map-nested-get($map,header,font);
  $header-bold:map-nested-get($map,header,bold);
  $header-icon-font:map-nested-get-default($map,header,icon-font,$_icon-font-family);
  $header-icon-up:map-nested-get-default($map,header,icon-up,\e613);
  $header-icon-down:map-nested-get-default($map,header,icon-down,\e612);
  $justification:map-get-default($map,justification,flex-start);
  $alignment:map-get-default($map,alignment,center);
  $cell-justification:map-nested-get-default($map,cell,justification,flex-start);
  $cell-alignment:map-nested-get-default($map,cell,alignment,flex-start);
  $cell-padding:map-nested-get-default($map,cell,padding,.3em .5em .3em 1em);
  $cell-height:map-nested-get-default($map,cell,height,40px);
  $cell-show-borders:map-nested-get-default($map,cell,show-borders,true);
  $cell-background:map-nested-get-default($map,cell,background,$_white);
  $cell-background-alt:map-nested-get-default($map,cell,background-alt,#f5f5f5);
  $cell-alt-type:map-nested-get-default($map,cell,alt-type,even);
  $footer-background:map-nested-get-default($map,footer,background,$_white);
  $touch-cell-padding:map-nested-get-default($map,touch,cell-padding,0 .5em 1em 11em);
  $touch-cell-padding-bottom:map-nested-get-default($map,touch,cell-padding-bottom,2em);
  $touch-cell-margin-top:map-nested-get-default($map,touch,cell-margin-top,1em);
  $touch-cell-border-bottom:map-nested-get-default($map,touch,cell-border-bottom,1px solid #ddd);
  $touch-font-size:map-nested-get-default($map,touch,font-size,16px);
  $touch-border-radius:map-nested-get-default($map,touch,border-radius,0);
  $touch-header-left:map-nested-get-default($map,touch,header-left,10px);
  $touch-header-font:map-nested-get($map,touch,header-font);
  $touch-header-font-color:map-nested-get($map,touch,header-font-color);

  $tag:flex-table;
  @include element-tag($tag:$tag,$tags:$tags,$class:$class){
    @include _flex-grid($component,$font-size,$border-radius,$_columns,$header-color,$header-font,$header-bold,$header-background,$header-icon-font,$header-icon-up,$header-icon-down,
            $justification,$alignment,$cell-justification,$cell-alignment,$cell-padding,$cell-height,$cell-show-borders,$cell-background,$cell-background-alt,$cell-alt-type,
            $footer-background, $touch-breakpoint, $touch-cell-padding,$touch-cell-padding-bottom,$touch-cell-margin-top,$touch-cell-border-bottom,
            $touch-font-size,$touch-border-radius,$touch-header-left,cell-item);
    @content;

    $_max-columns:10;
    @for $j from 2 through $_max-columns{
      &[columns="#{$j}"]{
        @include _flex-table-touch-headers($touch-breakpoint,$j,cell-item,$touch-header-font,$touch-header-font-color);
      }
    }

  }
}
